@charset "UTF-8";

@media screen and (min-width: 768px)
{
    span.material-symbols-outlined
    {
        display: none;
    }
    menu#itens
    {
        display: block;
    }
    main
    {
        width: 768px;
    }
}