@charset "UTF-8";

*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body
{
    background-color: lightgray;
}

header
{
    background-image: linear-gradient(180deg, rgb(148, 148, 148), rgb(48, 48, 48) 55%);
}

header > h1
{
    padding: 10px;
    text-align: center;
    color: white;
}

span.material-symbols-outlined
{
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer; /* Mão para clicks */
}

span.material-symbols-outlined:hover
{
    background-color: white;
    color: rgb(48, 48, 48);
}

menu
{
    display: none;
}

menu > ul
{
    list-style-type: none;
}

menu > ul > li > a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border: 2px solid gray;
}

menu > ul > li > a:hover
{
    background-color: gray;
}

main
{
    width: 90%;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

main > article > h2
{
    padding-bottom: 20px;
}

main > article > p
{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    font-family: 'Times New Roman', Times, serif;
}

table
{
    border-collapse: collapse;
    border: 3px solid black;
    width: 65%;
    max-width: 400px;
    height: 220px;
    text-align: center;
    margin:  20px auto;
}

td, th
{
    border: 2px solid black;
    padding: 2.5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th
{
    background-color: rgb(25, 25, 25);
    color: white;
}

legend
{
    text-align: center;
}

table tr:nth-child(even)
{
    background-color: lightgray;
}