@charset "UTD-8";

/* Todas as demais mídias */

/*
Typical Device Breakpoints
    Mobile: até 600px.
    Tablet: 768px até 992px
    Desktop: 992px até 1200px.
    Grandes: acima de 1200px.
*/

@media print /* Imprenssão */
{
    body
    {
        background-image: url('../imagens/back-print.jpg');
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: block; } /**/
    img#pc{ display: none; }
    img#tv{ display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) /* Tablet */
{
    body
    {
        background-image: url('../imagens/back-tablet.jpg');
    }
    img#phone{ display: none; }
    img#tablet{ display: block; } /**/
    img#print{ display: none; }
    img#pc{ display: none; }
    img#tv{ display: none; }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) /* Desktop */
{
    body
    {
        background-image: url('../imagens/back-pc.jpg');
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: none; }
    img#pc{ display: block; } /**/
    img#tv{ display: none; }
}

@media screen and (min-width: 1400px) /* Grandes Telas */
{
    body
    {
        background-image: url('../imagens/back-tv.jpg');
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: none; }
    img#pc{ display: none; }
    img#tv{ display: block; } /**/
}