@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(12, 12, 12);
    color: white;
}

header
{
    background-image: linear-gradient(90deg, rgb(0, 4, 255), rgb(68, 0, 255), rgb(255, 0, 0));
}

header > h1
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    padding: 10px 0px 0px 0px;
}

header > h2
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

header > p
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

@keyframes rodar
{
    from
    { 
        transform: rotate(0deg);
    }
    to
    { 
        transform: rotate(360deg);
    }
}

header > a > div.border /********************************************/
{
    border: 15px groove rgb(30, 255, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 2px auto;
    transition: 0.8s;
    animation-name: rodar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header > a >div.border:hover
{
    border-color: rgb(0, 54, 170);
    transition: 0.8s;
}

@keyframes desrodar
{ 
    from
    { 
        transform: rotate(0deg); 
    }
    to
    { 
        transform: rotate(-360deg); 
    }
}

header > a > div.border > img /********************************************/
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: desrodar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

main > section.normal
{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

main > section.normal > nav > ul
{
    display: flex;

}

main > section.normal > nav > ul > li
{
    font-size: 30px;
    margin: auto;
    list-style-type: none;
}

main > section.normal > nav > ul > li > a
{
    text-decoration: none;
}

main > section.normal > nav > ul > li > a:hover
{
    text-decoration: underline;
}

main > section.normal > h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-image: linear-gradient(90deg, blue, transparent);
    padding: 5px;
    margin: 15px;
}

main > section.normal > p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    padding: 10px;
}



footer
{
    background-color: black;
    text-align: center;
    padding: 10px;
}


footer a
{
    text-decoration: none;
    color: white;
}

footer a:hover
{
    text-decoration: underline;
    color: rgb(107, 107, 255);
}