@charset "UTF-8";


*
{
    margin: 0px;
}

body
{
    background-color: #3F0359;
}

header
{
    background-color: #003a6d;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
}

header h1
{
    font-family: Arial, Helvetica, sans-serif;
}

header > img.spinner
{
    border-top-color: green;
    border-top-style: solid;
    border-top-width: 15px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 15px;
    border-bottom-color: blue;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 15px;
    border-radius: 50%;
}

@keyframes loading
{
	0%
    {
		transform: rotate(0deg);
	}
	100%
    {
		transform: rotate(360deg);
	}
}

header > img.spinner
{
	animation: loading 4s linear infinite;
}

main
{
    background-color: rgb(0, 0, 0);
    margin: 0px 50px;
    padding: 15px;
    border-radius: 20px;
}

main h2
{
    background-color: #3C3473;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 5px;
    margin: -15px -15px 20px -15px;
    border-radius: 17px 17px 0px 0px;
    color: white;
}

div.video
{
    background-color: #025373;
    padding: 2%;
    margin: 15px 25.3%;
}

main > img
{
    display: block;
    margin: auto;
}

footer
{
    background-color: black;
    color: white;
    text-align: center;
}

a
{
    color: rgb(0, 119, 255);
    text-decoration: none;
}

a:hover
{
    color: rgb(119, 0, 192);
    text-decoration: underline;
}